on:
  workflow_call:
    inputs:
      module-name:
        required: true
        type: string

      force-publish:
        required: false
        type: boolean
        default: false
        description: Hotfixes may require force, to publish version numbers not exceeding the current version number.
    secrets:
      ps-gallery-key:
        required: true

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install build dependencies
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module InvokeBuild -ErrorAction Stop
          Invoke-Build InstallBuildDependencies -Verbose

      - name: Create build
        shell: pwsh
        run: Invoke-Build Build -Verbose

      - name: Upload build
        uses: actions/upload-artifact@v6
        with:
          name: build
          path: publish

  release:
    needs: build
    runs-on: windows-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v6
        with:
          submodules: recursive
        
      - name: Download build artifact
        uses: actions/download-artifact@v7
        with:
          name: build

      - name: Install release dependencies
        shell: pwsh
        run: |
          Set-PSRepository PSGallery -InstallationPolicy Trusted
          Install-Module InvokeBuild -ErrorAction Stop
          Invoke-Build InstallReleaseDependencies -Verbose

      - name: Publish to PsGallery
        shell: pwsh
        run: |
          Publish-Module -Path ./${{ inputs.module-name }} -NuGetApiKey ${{ secrets.ps-gallery-key }} -Force:${{ inputs.publish }}
